/*物联网节点监控*/
.content-monitoring{
  padding: 60px 0;
  background: #fff url(https://static0.qxwz.com/solution/solution-banner.jpg) no-repeat top center;
  color: #ffffff;
}
.content-bottom {
  text-align: center;
}

.div-monitoring{
  display: flex;
  height: 200px;
  margin: 50px 400px;
  padding: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);/*投影*/
}
.monitoring-left{
  line-height: 30px;
  margin: 0 50px;
}
.monitoring-right{
  margin : 15px 50px 0 0;
}
